@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    color: hsl(240, 6%, 50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div:nth-child(1) {
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 50px hsla(238, 29%, 16%, 0.7);
}

h1 {
    font-size: 3em;
    color: hsl(238, 29%, 16%);
}

h2 {
    color: hsl(238, 29%, 16%);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 99;
}

li {
    position: relative;
    list-style: none;
    max-height: 300px;
    width: 100%;
}


input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

input:not(:checked) ~ p {
    display: none;
}

input:checked ~ p {
    visibility: visible;
}

input:checked ~ h2 {
    font-weight: 700;
}

input:checked ~ i {
    transform: rotate(180deg);
}

li i {
    width: 12px;
    height: 12px;
    background-image: url('../images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    position: absolute;
    right: 0;
    top: 20px;
}

p {
    margin-top: 10px;
    position: relative;
    max-height:  400px;
}


li {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 15px 0;
}

.attribution {
    display: none;
}

@media (max-width: 899px) {
    div:nth-child(1) {
        width: 375px;
        min-height: 500px;
        height: auto;
        background-image: url('../images/bg-pattern-mobile.svg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 300px;
        position: relative;
        padding: 25px 25px 50px 25px;
    }

    div:nth-child(1)::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 300px;
        margin-top: -200px;
        background: url('../images/illustration-woman-online-mobile.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px;
    }

    img {
        display: none;
    }

    h1 {
        text-align: center;
        margin: 50px 25px 25px;
    }

    ul {
        position: relative;
        width: 100%;
        margin: auto;
    }


    li {
        width: 95%;
        margin: auto;
    }
}

@media (min-width: 900px) {
    div:nth-child(1) {
        width: 925px;
        min-height: 450px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        flex-wrap: wrap;
    }

    div:nth-child(1)::before {
        content: '';
        height: 450px;
        width: 925px;
        display: inline-block;
        background-image: url('../images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: 500px;
        position: absolute;
        background-position-x: -120px;
        overflow: hidden;
    }

    div:nth-child(1)::after {
        content: "";
        display: inline-block;
        width: 375px;
        height: 100%;
        background: url('../images/illustration-woman-online-desktop.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 450px;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }

    img {
        position: absolute;
        left: -90px;
        bottom: 90px;
        z-index: 5;
    }

    h1 {
        width: 50%;
        margin-bottom: 30px;
        margin-right: 50px;
        line-height: 1.5em;
    }

    ul {
        width: 50%;
        position: relative;
        padding: 0;
        margin-right: 50px;
    }


    li {
        width: 95%;
    }
}