@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale-Orange: hsl(25, 100%, 94%);
    --Very-Vark-Blue: hsl(220, 13%, 13%);
    --Dark-Grayish-Blue: hsl(219, 9%, 45%);
    --Grayish-Blue: hsl(220, 14%, 75%);
    --Light-Grayish-Blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsla(0, 0%, 0%, 75%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

header {
    width: 100%;
    background-color: var(--White);
}

header img {
    display: block;
}

main {
    position: relative;
    max-width: 1115px;
    margin: auto;
}

.masthead {
    max-width: 1115px;
    width: 100%;
    height: 75px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: auto;
    align-items: center;
    position: relative;
}


.avatar {
    width: 30px;
}

.avatar img {
    width: 100%;
}

.avatar:hover {
    outline: 3px solid var(--Orange);
    border-radius: 50%;
}

.masthead a:nth-child(n + 2) {
    justify-self: end;
}

.masthead a:nth-of-type(2) {
    padding-right: 15px;
}

.shopping-cart {
    display: block;
    position: relative;
    z-index: 95;
}

.shopping-cart::after {
    content: attr(data-items);
    font-size: 10px;
    height: 10px;
    min-width: 15px;
    width: auto;
    padding: 3px;
    border-radius: 10px;
    background: var(--Orange);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White);
    position: absolute;
    top: -12px;
    right: 10px;
}

.hide {
    display: none !important;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 50px;
}

li:nth-of-type(1) {
     display: none; 
}

.photo-container {
    display: flex;
    position: relative;
}

.main-photo {
    width: 100%;
}

.content {
    padding: 25px;
}

.product-description {
    color: var(--Dark-Grayish-Blue);
    line-height: 1.5em;
}

.pricing {
    margin: 25px 0;
}

.price {
    font-size: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.price::after {
    content: attr(data-savings);
    background-color: var(--Pale-Orange);
    color: var(--Orange);
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 3px;
    margin-left: 15px;
}

.previous-price {
    color: var(--Grayish-Blue);
    font-weight: 700;
    font-size: 18px;
    text-decoration: line-through;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--Orange);
    letter-spacing: 2px;
    margin-bottom: 10px;
}

b {
    color: var(--Black);
}

.qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Light-Grayish-Blue);
    padding: 25px;
    font-weight: 700;
    font-size: 18px;
}

.add-to-cart {
    margin: 25px 0;
    background-color: var(--Orange);
    color: var(--White);
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border: none;
}

.add-to-cart:hover {
    cursor: pointer;
    filter: opacity(70%);
}


.cart-contents {
    position: absolute;
    width: 90%;
    top: 25px;
    right: 5%;
    border-radius: 8px;
    background-color: var(--White);
    z-index: 9999999;
    box-shadow: 0px 35px 60px -30px var(--Black);
    display: flex;
    flex-wrap: wrap;
    /* animation: cart-contents;
    animation-duration: 2s; */
}


.cart-contents h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 25px;
}

/* @keyframes cart-contents {
    0% { opacity: 0; }
    15% { opacity: 1; }
    85% { opacity: 1; }
    100% { opacity: 0; }
} */

.cart-items {
    border-top: 1px solid var(--Grayish-Blue);
    padding: 25px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.empty-cart-text {
    color: var(--Dark-Grayish-Blue);
    font-weight: 700;
}

.cart-item {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: 60px 1fr 20px;
    justify-content: space-between;
    font-size: 14px;
    margin: auto;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 25px;
}

.cart-thumbnail {
    border-radius: 8px;
    width: 50px;
    height: 50px;
}

.checkout {
    margin: 0 auto 25px;
    background-color: var(--Orange);
    color: var(--White);
    font-weight: 700;
    font-size: 16px;
    width: 80%;
    height: 60px;
    border-radius: 8px;
    border: none;
}

.checkout:hover {
    cursor: pointer;
    filter: opacity(70%);
}

.cart-remove {
    position: absolute;
    right: 0;
}

.qty img:hover {
    cursor: pointer;
}

@media (min-width: 1201px) {

    #lightbox {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--Black);
        z-index: 999;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 100px;
    }
    
    #lightbox img {
        width: 570px;
        border-radius: 10px;
    }

    #lightbox .product-thumbnails {
        width: 570px;
    }

    #lightbox .product-thumbnails img {
        width: 18%;
    }

    #lightbox .lightbox-close {
        width: 100%;
        text-align: right;
        margin-bottom: 25px;
    }

    #lightbox .lightbox-close svg {
        color: var(--Dark-Grayish-Blue);
    }

    #lightbox .lightbox-close svg:hover {
        cursor: pointer;
        color: var(--Orange);
    }

    #lightbox .photo-scroll {
        width: 100%;
        height: 100%;
        padding: 25px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
    }

    #lightbox .photo-scroll button {
        background: var(--White);
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #lightbox .photo-scroll button:hover {
        cursor: pointer;
    }

    header {
        padding: 50px 0 85px;
    }

    .masthead {
        border-bottom: 1px solid var(--Grayish-Blue);
        justify-items: center;
        align-items: start;
        height: 100%;
    }

    main {
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
    }

    nav {
        grid-column: 2 / span 5;
    }

    ul {
        height: 85px;
    }

    li {
        display: inline-block;
        height: 100%;
        text-align: center;
        width: 90px;
    }

    li a {
        text-decoration: none;
        color: var(--Dark-Grayish-Blue);
    }

    li:hover {
        border-bottom: solid 3px var(--Orange);
    }

    .avatar {
        width: 50px;
        margin-top: -15px;
    }

    .photo-scroll {
        display: none;
    }

    .photo-container {
        width: 45%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content {
        width: 45%;
    }

    .main-photo {
        border-radius: 8px;
    }

    .main-photo:hover {
        cursor: zoom-in;
    }
    .product-thumbnails {
        width: 100%;
        display:flex;
        justify-content: space-between;
    }

    .thumbnail-photo {
        width: 20%;
        margin-top: 25px;
        border-radius: 8px;
    }

    .thumbnail-photo:hover , .thumbnail-selected {
        cursor: pointer;
        outline: 3px solid var(--Orange);
        filter: opacity(70%);
    }

    .previous-price {
        margin-top: 25px;
    }

    .cart-contents {
        width: 400px;
        top: -100px;
        right: 0;
    }
}

@media (max-width: 1200px) {
    body {
        max-width: 600px;
        margin: auto;
    }

    #lightbox {
        display: none;
    }

    header {
        position: sticky;
        top: 0;

    }

    .main-logo {
        grid-column: 2 / span 4
    }

    nav {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
    }

    li:nth-of-type(1) {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li:nth-of-type(1):hover {
        cursor: pointer;
    }

    li:nth-child(n+2) {
        display: none;
    }

    #menu-open {
        background: black;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 100;
        opacity: .5;
    }

    .mobile-menu .menu-icon {
        padding-top: 25px;
    }

    .mobile-menu {
        margin-right: 100px;
    }

    .mobile-menu ul{
        background: var(--White);
        width: 65%;
        height: 100vh;
        position: absolute;
        z-index: 200;
        top: 0;
        left: 0;
    }

    .mobile-menu li:nth-of-type(1) {
        margin-bottom: 50px;
    }

    .mobile-menu li:nth-child(n+2) {
        display: block;
        margin-top: 20px;
        margin-left: 15px;
        font-size: 18px;
        font-weight: 700;
    }

    .mobile-menu li:nth-child(n+2) a {
        text-decoration: none !important;
        color: var(--Black);
    }

    .main-hide {
        z-index: -1;
    }

    main {
        width: 100%;
    }

    .photo-container {
        overflow: hidden;
        position: relative;
        height: 500px;
    }

    .main-photo {
        position: absolute;
        left: 0;
        height: auto;
    }

    .product-thumbnails {
        display: none;
    }

    .pricing {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .photo-scroll {
        width: 100%;
        height: 100%;
        padding: 25px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
    }

    .photo-scroll button {
        background: var(--White);
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photo-scroll button:hover {
        cursor: pointer;
    }
}